<div>
<table>
<tr>  
<td>Name : 
<td><input type="text" ng-model="name"></tr>
<tr> 
<td>Password :
<td> <input type="text" ng-model="pass"></tr>
<tr>
<td>Email :
<td> <input type="text" ng-model="email"></tr>
<tr>
<td>Phone_no : 
<td><input type="text" ng-model="phone_no"></tr>
<tr><td> Gendeer : 
<td>
<input type="radio" ng-model="gender" value="male" checked> Male
  <input type="radio" ng-model="gender" value="female"> Female<tr>
<tr>
<td><button ng-click="signup()">signup</button></tr>
</table>
</div>
<div>
	
	already registered user 	
<a ui-sref="state1" class="btn btn-info">Login</a>
</div>